.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #65fbf1;
}

.App-link {
  color: #09d3ac;
}

.Header-bar {
  background-color: #202833;
  height: 20vmin;
  text-align: left;
  color: #65fbf1;
  position: relative;
  margin-bottom: 3vmin;
}

.Header-text {
  position: absolute;
  bottom: 50%;
  transform: translate(0%, 50%);
  margin-left: 5vmin;
  font-size: calc(40px + 2vmin);
}

.Header-icons {
  position: absolute;
  right: 5%;
  bottom: 30%;
  width: 10%;
}

.Header-icon{
  margin-right: 10%; 
}

.Item-Container{
  width:100%;
  margin-bottom: 1%;
  float: left;
  border-style: solid;
}

.Item-Checkbox{
  float: left;
  width:35%;
  padding-top: 50px;
}

.Item-Title-Container{
  float: left;
  text-decoration: underline;
  width: 65%;
}

.Item-Description-Container{
  float: left;
  width: 100%;
  text-align: center;
}

.Title-Container{
  float:left;
  width: 100%;
  clear: both;
}

.Back-Arrow-Container{
  float:left;
  width: 40%;
  padding-top: 25px;
}

.Back-Arrow{
  background-color: white;
  border: none;
}

.List-Title{
  text-decoration: underline;
}

.List-Title-Container{
  width: 60%;
  float:left;
}

.New-button-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(8px + 2vmin);
  color: #65fbf1;
}

.New-list-button {
  background-color: #202833;
  margin-left: 4%;
  margin-right: -2%;
  margin-bottom: 5vmin;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 29.3%;
  max-width: 30vmin;
}

.Row-of-lists {
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: #65fbf1;
}

.List-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 4%;
  margin-bottom: 5vmin;
}

.List-head {
  background-color: #202833;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.List-items {
  background-color: #46a29f;
  padding-left: 0vh;
  padding-right: 2vh;
  text-align: left;
  font-size: calc(8px + 2vmin);
}

li.unchecked {
  list-style-image: url(checkbox15.png);
  list-style-position: inside;
  margin-left: -2vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.checked {
  list-style-image: url(checked15.png);
  list-style-position: inside;
  margin-left: -2vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}