.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #65fbf1;
}

.App-link {
  color: #09d3ac;
}

.Header-bar {
  background-color: #202833;
  height: 20vmin;
  text-align: left;
  color: #65fbf1;
  position: relative;
  margin-bottom: 3vmin;
}

.Header-text {
  position: absolute;
  bottom: 50%;
  transform: translate(0%, 50%);
  margin-left: 5vmin;
  font-size: calc(40px + 2vmin);
}

.Header-icons {
  position: absolute;
  right: 5%;
  bottom: 30%;
  width: 10%;
}

.Header-icon{
  margin-right: 10%; 
}

.Header-icon-popup {
  display: inline-block;
}

/* Container for buttons on friends list/editable list pages */
.Centered-button-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(8px + 2vmin);
  color: #65fbf1;
  border-style: solid;
  border-color: white;
  width: 50%;
  margin-left: 25%;
  margin-bottom: -5vh;
}

/* 'Confirm Delete' and 'Cancel' */
.Confirm-delete-button {
  color: #202833;
  margin-bottom: 3vmin;
  margin-right: 4vmin;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: left;
}

.Confirm-delete-button:hover {
  color: #ff0000;
}

/* Old List style used on home screen (the 4 per row) */
.Row-of-lists {
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: #65fbf1;
}

.List-container {
  background-color: #202833;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 4%;
  margin-bottom: 5vmin;
}

.List-container:hover {
  background-color: #009bc2;
}

.List-head {
  /* background-color: #202833; */
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.List-items {
  background-color: #46a29f;
  padding-left: 0vh;
  padding-right: 2vh;
  text-align: left;
  font-size: calc(8px + 2vmin);
}

.List-extra-space {
  background-color: #46a29f;
  flex-grow: 1;
}

/* Bullet styles */
li.unchecked {
  list-style-image: url(checkbox15.png);
  list-style-position: inside;
  /* margin-left: -2vh; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.checked {
  list-style-image: url(checked15.png);
  list-style-position: inside;
  /* margin-left: -2vh; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.not-deleting {
  list-style-position: outside;
  list-style-type: none;
  margin-left: -2vh;
}

li.deleting-unchecked {
  list-style-image: url(trash-deselected-15.png);
  list-style-position: outside;
}

li.deleting-checked {
  list-style-image: url(trash-selected-15.png);
  list-style-position: outside;
}

/* List style used on item description page */
.Full-List-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  /* margin-top: 5vmin; */
  margin-bottom: 5vmin;
  font-size: calc(10px + 2vmin);
  color: #65fbf1;
}

.Full-List-head {
  background-color: #202833;
  margin-top: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Full-List-items {
  background-color: #46a29f;
  padding-left: 0vh;
  padding-right: 2vh;
  text-align: left;
  font-size: calc(8px + 2vmin);
}

.Full-List-description {
  padding-left: 4vh;
  padding-right: 2vh;
  text-align: left;
  font-size: calc(4px + 2vmin);
}

/* Home screen layout */
.New-Homepage-Layout {
  display: flex;
  flex-direction: row;
}

/* Names of lists (left column on home screen) */
.List-Names-container {
  display: flex;
  flex-direction: column;
  width: 44%;
  margin-left: 4%;
  margin-bottom: 5vmin;
  font-size: calc(10px + 2vmin);
  color: #65fbf1;
}

.List-Name {
  background-color: #202833;
  opacity: .9;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-color: white;
}

.List-Name:hover {
  background-color: #009bc2;
}

.List-Name-selected {
  background-color: #202833;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-color: white;
}

.List-Name-deleting {
  background-color: #202833;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-color: white;
}

.List-Name-deleting-selected {
  background-color: #ff0000;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-color: white;
}

/* List style used in right column of home screen */
.Full-List2-container {
  display: flex;
  flex-direction: column;
  width: 44%;
  margin-left: 4%;
  margin-bottom: 5vmin;
  font-size: calc(10px + 2vmin);
  color: #65fbf1;
  border-style: solid;
  border-color: white;
}

.Full-List2-head {
  background-color: #202833;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Full-List2-list-description {
  font-size: calc(4px + 2vmin);
  padding-left: 4vh;
  padding-right: 2vh;
  margin-top: 2vh;
  margin-bottom: -2vh;
}

.Full-List2-items {
  background-color: #46a29f;
  padding-left: 0vh;
  padding-right: 2vh;
  text-align: left;
  font-size: calc(8px + 2vmin);
}

.Full-List2-item-description {
  padding-left: 4vh;
  padding-right: 2vh;
  text-align: left;
  font-size: calc(4px + 2vmin);
}

/* Popup menu styles */
.Plain-menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Wide-menu {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Plain-menu-item {
  color: #202833;
  font-size: calc(4px + 2vmin);
  border-bottom: 1px solid #202833;
  padding: 5px;
}

.Plain-menu-item:hover {
  font-weight: bold;
}

.Label-menu-item {
  color: #202833;
  font-size: calc(4px + 2vmin);
}

.List-menu-item {
  color: #202833;
  font-size: calc(4px + 2vmin);
  text-align: left;
}

.Menu-button-container {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.Menu-button {
  width: 44%;
  margin-left: 4%; 
}

.input-error {
  border: 1px solid #ff0000;
}

.input-error::placeholder {
  color: #ff0000;
}

/* Button container for home screen */
.New-button-container-thin {
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: calc(8px + 2vmin);
  color: #65fbf1;
  border-style: solid;
  border-color: white;
  margin-left: 4%;
  width: 44%;
}

.New-button-container-container {
  display: flex;
  flex-direction: row;
}

/* Trash icon style when deleting lists (old) */
.Delete-icon-deselected {
  float: left;
}

.Delete-icon-selected {
  float: left;
  color: #009bc2;
}

/* Font awesome icon style for home page */
.Fa-icon-style {
  margin-right: 3vmin;
  margin-bottom: 3vmin;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 5vmin;
  text-align: center;
}

.Fa-icon-color {
  color: #202833;
}

.Fa-icon-color:hover {
  color: #009bc2;
}

.Fa-icon-selected-color {
  color: #46a29f;
}

.Fa-icon-selected-color:hover {
  color: #009bc2;
}

.Fa-icon-deleting-color {
  color: #202833;
}

.Fa-icon-deleting-color:hover {
  color: #ff0000;
}